﻿/*! jqFulltab - v0.1.4 Beta - 2015/07/16 
* Jquery full page content tabs
* Copyright 2015 tungsteno74@yahoo.it Tungsteno; Licensed MIT */

html, 
body, 
.ui-tabs, 
.ui-tabs .ui-tabs-panel
{    
    width: 100%;
    height: 100%;
}
body
{  
    margin:0;
    overflow: hidden;
}
/**:focus {
    outline: 0;
}*/
.ui-tabs
{
    position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;	
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.ui-tabs .ui-tabs-nav
{
    position: fixed;
    margin: 0 30% 0 30%;
    /*width:531px;*/
    z-index: 10;
    padding-left:20px;
    padding-right:20px;
}
.ui-tabs .ui-tabs-panel
{
    position: relative;
    display:inline-block; 
    padding: 0;
}
